<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="MEDcode" content="width=device-width, initial-scale=1.0">
    <title>SPAR</title>
    <link rel="stylesheet" href="/static/Css/Main_page.css">
    <link rel="stylesheet" href="/static/Css/BaseKit.css">
    <link rel="icon" href="/static/imagens/Logo.png" type="image/png">
    <script src="/static/JavaScript/dark_mode.js"></script>
</head>

<body>
    <header>
        <button class="dark-mode-toggle" id="darkModeToggle">🌙</button>
        <img src="/static/imagens/Logo.png" alt="Imagem da logo do grupo">
        <h1>SPAR</h1>
    </header>

    <section class="Entrada">
        <h2>
           <span class="letra1">S</span>istema
           <span class="letra2">P</span>róprio de <br>
           <span class="letra3">A</span>gendamento
           <span class="letra4">R</span>ápido
        </h2>
        <p id="slogan">Cuidando da sua saúde com muito cuidado para o seu bem</p>
        <img src="/static/Css/Font/Doutores.jpg" alt="imagem de médicos atendendo um paciente" id="Doutores">

            <!-- BOTÕES -->

        <button class="paciente" onclick="window.location.href='/login'">
            <img src="/static/imagens/Paciente.avif" alt="paciente_Icon"> Entre agora!
        </button>

        <!-- BOLHAS DE EXPLICAÇÃO -->

        <section class="explanations">
            <div class="espace1">
                <div class="grid_espace1">

                        <!-- DADOS Paciente -->

                    <div class="cell">
                        <img src="/static/imagens/Paciente_img.png" alt="Ilustração de paciente" id="dados">
                        <p class="frase_paciente">
                            <span class="frase1">Paciente</span> <br>
                            Faça agendamentos de consultas médicas, acompanhe o tempo para as consultas e salve seu tempo
                        </p>
                    </div>

                        <!-- DADOS Médico -->

                    <div class="cell">
                        <img src="/static/imagens/Doctor_img.png" alt="Ilustração de médico" id="dados">
                        <p class="frase_paciente">
                            <span class="frase1">Médico</span> <br>
                            Verifique agendamentos, notifique pacientes, seja capaz de ver quais pacientes você tem pra atender de forma rápida e pratica
                        </p>
                    </div>

                    <!-- DADOS SPARS -->

                    <div class="cell">
                        <img src="/static/imagens/Logo.png" alt="Ilustração da logo SPARS" id="dados">
                        <p class="frase_paciente">
                            <span class="frase1">Sobre SPARS</span> <br>
                            Visamos Trazer praticidade, agilidade e melhoria no sistema de agendamento médico
                        </p>
                    </div>

                    <!-- DADO Como funcionamos -->

                    <div class="cell">
                        <img src="/static/imagens/QuestionMark.png" alt="Ilustração da logo SPARS" id="dados">
                        <p class="frase_paciente">
                            <span class="frase1">Como Operamos?</span> <br>
                            o SPARS divide os usuários entre paciente e funcionário, com o paciente fornecendo os dados para o funcionário trabalhar
                        </p>
                    </div>


                </div>
            </div>
        </section>

    </section>
    
</body>
</html>