<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="MEDcode" content="width=device-width, initial-scale=1.0">
    <title>SPAR</title>
    <link rel="stylesheet" href="/static/Css/Main_page.css">
    <link rel="stylesheet" href="/static/Css/BaseKit.css">
    <link rel="icon" href="/static/imagens/Logo.png" type="image/png">
    <script src="/static/JavaScript/dark_mode.js"></script>
</head>

<body>
    <header>
        <button class="dark-mode-toggle" id="darkModeToggle">🌙</button>
        <a href="/" id="Titulo">
            <img src="/static/imagens/Logo.png" alt="Imagem da logo do grupo">
            <h1>SPAR</h1>
        </a>
    </header>
    
    <h1>Médico</h1>
    
</body>
</html>